body{
	background-color: #FCF8E0;
}
h1{
 font-size: 30px;
 color: #AED9F7 ;
}
h2{
 font-size: 20px;
 color: #7DA9F5 ;
}
.second{
  font-size: 16px;
}
.buttom{
 font-size: 16;
}
.second buttom {
 color: navy;
}